body {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    --controls-width: 24em;
    --piece-per-row: 8;
    --color-highlight: #78b0ff;
}

.controls {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: var(--controls-width);
    flex-shrink: 0;
    background: #202a20;
    color: white;
    box-shadow: -12px 0px 12px 12px rgba(0, 0, 0, 0.4);
}

#fen {
    box-sizing: border-box;
    padding: 4px;
    background: transparent;
    color: inherit;
    border: none;
    resize: none;
    width: 100%;
    font-size: 10pt;
    line-break: anywhere;
    flex-shrink: 1;
    flex-grow: 1;
}

#fen:focus {
    outline: none;
}

#settings {
    font-family: monospace;
    font-size: 12pt;
    padding: 0.5em 1.0em;
    display: flex;
    flex-direction: column;
}

#settings section {
    background: rgba(255, 255, 255, 0.08);
    padding: 0.2em 0.3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

section > .input-container {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

#width, #height {
    width: 2em;
    font-family: inherit;
    font-size: inherit;
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid black;
    color: #f0f0f0;
    padding: 2px 8px;
    text-align: center;
    transition: border-color 0.2s, color 0.2s;
    border-radius: 2px;
}

#width:active, #width:focus, #width:hover, #height:active, #height:focus, #height:hover {
    outline: none;
    border: 1px solid white;
    color: white;
}

#settings button {
    font-family: inherit;
    font-size: inherit;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    color: var(--color-highlight);
    padding: 6px 8px;
    cursor: pointer;
    margin: 0.15em 0.1em;
}

#settings button:hover {
    background: rgba(255, 255, 255, 0.08);
    border: 1px solid white;
}

#settings button:active {
    border: 1px solid black;
}

#settings button:active, #settings button.selected {
    color: white;
    background: rgba(0, 0, 0, 0.25);
}

#settings select {
    font-family: inherit;
    font-size: inherit;
    background: rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    padding: 6px 8px;
    color: var(--color-highlight);
    margin: 0.15em 0.1em;
    transition: border-color 0.2s, color 0.2s;
}

#settings select:hover {
    border: 1px solid white;
}

#pieces {
    display: flex;
    flex-direction: row;
}

#pieces-white, #pieces-black {
    width: calc(var(--controls-width) / 2);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    align-items: flex-start;
    padding: 0;
    margin: 0;
}

#pieces li {
    background: #909090;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--controls-width) / var(--piece-per-row));
    height: calc(var(--controls-width) / var(--piece-per-row));
}

#pieces li > img {
    width: calc(var(--controls-width) / var(--piece-per-row));
    height: calc(var(--controls-width) / var(--piece-per-row));
    background: #909090;
    border: 1px solid transparent;
    box-sizing: border-box;
    transition: background-color 0.2s, border-color 0.2s;
}

#pieces li.selected > img {
    background: #606060;
    border: 1px solid #202020;
}

#pieces li > img:hover {
    cursor: pointer;
    background: #606060;
    border: 1px solid #d0d0d0;
}

#pieces li > img:active {
    cursor: pointer;
    border: 1px solid white;
}

#pieces li.two {
    width: calc(2 * var(--controls-width) / var(--piece-per-row));
}

#pieces li.three {
    width: calc(3 * var(--controls-width) / var(--piece-per-row));
}

#pieces li > span {
    font-family: monospace;
    font-size: 12pt;
}

#pieces li > span.noselect {
    cursor: default;
    user-select: none;
}

#pieces li.toggle {
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    box-sizing: border-box;
    transition: 0.2s border-color, 0.2s background-color;
}

#pieces li.toggle:hover {
    border: 1px solid #ffffff;
}

#pieces li.toggle:active, #pieces li.toggle.selected {
    background: #606060;
}

#pieces li > input[type=text] {
    font-family: monospace;
    text-align: center;
    background: #606060;
    color: white;
    width: inherit;
    height: inherit;
    margin: 0;
    padding: 4px;
    outline: none;
    border: 1px solid #000000;
    box-sizing: border-box;
    font-size: calc(0.5 * var(--controls-width) / var(--piece-per-row));
    transition: 0.2s border-color, 0.2s background-color;
}

#pieces li > input[type=text]:hover, #pieces li > input[type=text]:active {
    border: 1px solid #ffffff;
    background: #202a20;
}


.render {
    flex-grow: 1;
    height: 100vh;
    --status-height: 28px;
    position: relative;
    display: flex;
    flex-direction: column;
}

#axes {
    width: 100%;
    height: calc(100vh - var(--status-height));
    flex-grow: 1;
    margin: 0;
    box-sizing: border-box;
    object-fit: contain;
}

#canvas {
    width: 100%;
    height: calc(100vh - var(--status-height));
    position: absolute;
    top: 0;
    left: 0;
}

.bar {
    flex-grow: 0;
    background: #202a20;
    height: var(--status-height);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    font-family: monospace;
    color: white;
}

#status {
    padding: 4px;
    flex-grow: 1;
    overflow-x: auto;
    white-space: nowrap;
}

#status.ok {
    color: #a0ffa0;
}

#status.err {
    color: #ffa0a0;
}

/* #space-around {
    cursor: pointer;
    border: 1px solid transparent;
    box-sizing: border-box;
    transition: 0.2s border-color, 0.2s background-color;
    width: 7em;
    text-align: center;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}
#space-around > button {
    all: unset;
}

#space-around:hover {
    border: 1px solid white;
}

#space-around.selected {
    background: #101010;
} */

@media (max-width: 720px) {
    html {
        overflow-y: scroll;
    }

    body {
        flex-direction: column-reverse;
        overflow-y: auto;
        --controls-width: calc(100vw - var(--scrollbar-width, 0px));
        --rows: 5;
    }

    .render {
        height: calc(100vh - var(--rows) * var(--controls-width) / var(--piece-per-row));
    }

    #canvas, #axes {
        height: calc(100vh - var(--status-height) - var(--rows) * var(--controls-width) / var(--piece-per-row));
    }

    .controls {
        width: 100vw;
        flex-direction: column-reverse;
    }

    #fen {
        font-size: 12pt;
    }

    #settings section:not(.mobile-first) {
        order: 1;
    }

    #settings section.mobile-first {
        order: 0;
    }
}

@media (hover: none) {
    #pieces li > img:hover {
        background: #909090;
        border: 1px solid transparent;
    }

    #pieces li.selected > img {
        background: #606060;
        border: 1px solid white;
    }
}

@media (max-width: 720px) and (min-aspect-ratio: 0.8) {
    body {
        --piece-per-row: 12;
        --rows: 4;
    }
}
